body {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
}

h1 {
    margin: 30px 0 30px 0;
    text-align: center;
}

.case1 {
    padding: 5px;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.case2 {
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.case2 td {
    height: 20px;
}

#btn {
    padding: 13px;
    background-color: #5f513f;
    border: 1px solid black;
    border-radius: 22px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    box-shadow: 0 0 6px 1px black;
    cursor: pointer;
}